@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Quantico');

// Theme color
$dark-blue: #0E3343;
$dark-blue-hover: #0D495E;
$main-blue: #1F8BA1;
$light-blue: #F6FAFD;
$main-white: #FFFFFF;

// Font weight
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: $regular;
$base-font-size: 1rem;
$base-line-height: 1.4rem;

// Title Font
$title-font-family: 'Quantico', sans-serif;;
$title-font-size: 1.6rem;
